/*-------------------------------------------------------------------*/
/*                              COLORS                                */
/*-------------------------------------------------------------------*/

$color-white: #fff;
$color-white-smoke: #f4f4f4;

$color-black: #000;

$color-primary-1: #67FF28;
$color-primary-2: rgb(27, 87, 1);

$color-grey: #212226;
$color-grey-1: #151618;

$color-grey-light: #525252;



/*-------------------------------------------------------------------*/
/*                              FONT SIZE                                */
/*-------------------------------------------------------------------*/

$default-font-size: 1.6rem;