.education 
{
    &__content 
    {
        background-color: rgba($color-white, .2);
        padding: 6rem 2rem;
        text-align: center;
        border-radius: 3px;
        margin-top: 5rem;
        position: relative;
        i 
        {
            font-size: 3rem;
            margin-bottom: 2rem;
        }
        h5 
        {
            color: $color-primary-1;
            font-size: 1.7rem;
        }
        p 
        {
            font-size: 1.3rem;
        }

        &:before 
        {
            content: "";
            border-top: 20px solid rgba($color-white, .2);
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            position: absolute;
            bottom: -20px;
        }

        &--2 
        {
            padding: 6rem 4rem;
        }

        &--3 
        {
            padding: 6rem;
        }

    }
}