.footer
{
    padding: 11rem 0;
    background-color: $color-black;

    &__content 
    {
        .toggle-up 
        {
            font-size: 5rem;
            color: $color-white;
            transition: all .3s;

            &:hover 
            {
                color: $color-primary-1;
            }
        }
        a 
        {
            font-size: 1.5rem;
            color: $color-primary-1;
        }
    }

    &__social-links 
    {
        a 
        {
            text-decoration: none;
            i 
            {
                font-size: 4rem;
                padding: 2rem;

                color: $color-white;
                transition: all .3s;
                &:hover 
                {
                    color: $color-primary-1;
                }
            }
        }
    }

}