.services 
{
    &__primary 
    {
        margin-top: 4rem;
    

        &--content
        {

            margin-top: 3rem;
            
                &:not(last-child)
                {
                    margin-bottom: 3rem;
                }

                i, h6, h5, p 
                {
                    transition: all .3s;
                }

                i 
                {
                    font-size: 4rem;
                }
    
                h6
                {
                    font-size: 1.4rem;
                    text-transform: uppercase;
                    color: $color-primary-1;
                }
    
                h5 
                {
                    margin-top: 1.5rem;
                    font-size: 2rem;
                }
    
                p 
                {
                    margin-top: 2.3rem;
                    font-size: $default-font-size;
                }

                &:hover
                {
                    i 
                    {
                        color: $color-primary-1;
                        transform: translateX(-3rem);
                    }

                    h6 
                    {
                        color: $color-white;
                    }
                }
                
            
        }
    }
}