$color-gradient-1: #41295a;
$color-gradient-2: #2F0743;

$color-primary-1: #1abc9c;
$color-primary-2: #3498db;

$color-yellow: #FFC107;
$color-yellow-light: #ffd452;

$color-gray-dark: #393e46;
$color-gray-light: #eaeaec; 