.homepage__content--heading-main
{
    animation-duration: 1.5s;
    animation-delay: 1s;
}

.homepage__content--heading-sub 
{
    animation-duration: 1.5s;
    animation-delay: 1.5s;
}

.homepage__arrow-down
{
    animation-duration: 1.5s;
    animation-delay: 2s;
}