.services
{
    &_heading
    {
        text-align: center;
    }

    &_info 
    {
        position: relative;
        margin: 80px 0;
        .side-image 
        {
            img 
            {
                float: right;
            }
        }

        .content 
        {
            padding-left: 100px;
            h3 
            {
                margin: 10px 0;
                transition: all .3s;
            }

            p 
            {
                margin: 0;
            }

            hr 
            {
                margin: 25px 0;
                background: #ddd;
            }

            .icon 
            {
                text-align: center;
                svg 
                {
                    transition: all .3s;
                    font-size: 50px;
                }
            }
            
            h6 
            {
                text-transform: uppercase;
                font-size: 20px;
                word-spacing: 5px;
                color: $color-gradient-1;
                font-weight: lighter;
                span 
                {
                    font-size: 24px;
                    font-weight: 500;
                }
            }

            &:hover 
            {
                svg 
                {
                    margin-left: -50px;
                    color: $color-yellow;
                }
                h3 
                {
                    color: $color-yellow;
                }
            }
        }

        .button
        {
            text-align: center;
            margin-top: 70px;
        } 
    }

    

    &_slider 
    {
        padding: 50px 0;
    }
    .slide 
    {
        margin: 0 10px;
        text-align: center;
        svg 
        { 
            font-size: 50px;
            color: $color-gradient-1;
        }
        h5 
        {
            text-transform: uppercase;
            margin: 15px 0 5px 0;
            color: $color-gradient-1;
        }
        p 
        {
            font-size: 16px;
            font-weight: 300;
        }
    }

    .owl-carousel 
    {
        .owl-nav
        {
            button 
            {
                font-size: 70px;
                color: #8b8b8b;
                &:hover 
                {
                    color: #8b8b8b;
                    background: none;
                }
                &:focus 
                {
                    outline: none;
                }
            }
        }
    }

    .owl-prev, .owl-next {
        width: 15px;
        height: 100px;
        position: absolute;
        top: 0;
        display: block !important;
        border:0px solid black;
    }
    .owl-prev { left: -80px; }
    .owl-next { right: -50px; }
    .owl-prev i, .owl-next i {transform : scale(2,5); color: #ccc;}

}


.services_charges 
{
    margin-top: 50px;
    ._card 
    {
        box-shadow: 0 10px 20px rgba(black, .4);
        border-radius: 20px;
        text-align: center;
        margin-top: 50px;
        &--heading 
        {
            padding: 100px 0;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;

        }

        .bg--1
        {
            padding: 100px 0;
            background: linear-gradient(rgba(black, .6)) , url("../img/services/web-design.png");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

        .bg--2
        {
            padding: 100px 0;
            background: linear-gradient(rgba(black, .6)) , url("../img/services/desktop-development.png");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

        .bg--3
        {
            padding: 100px 0;
            background: linear-gradient(rgba(black, .6)) , url("../img/services/web-development.jpg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

        

        &--content 
        {
            h2 
            {
                text-transform: uppercase;
                margin-bottom: 20px;
                color: $color-gradient-1;
                letter-spacing: 3px;
            }
            padding: 15px 0 30px 0;
            ul 
            {
                list-style: none;
                li 
                {
                    font-size: 18px;
                    font-weight: lighter;
                }
            }
            p 
            {
                font-size: 12px;
                margin: 0;
            }
            h1 
            {
                margin: 0;
                font-weight: bold;
                color: $color-gradient-1;
            }
        }
    }
}
