.nav-icon 
{
    font-size: 22px;
}

.bg-transparent 
{
    border-bottom: 1px solid white;
}

.bg-white 
{
    transition: all .2s;
    background-color: white;
    box-shadow: 0 5px 10px rgba(black, .1);
}