._btn 
{
    &:link,
    &:visited 
    {
        border-radius: 3px;
        padding: 5px 20px;
        text-decoration: none;
        color: white;
        background: linear-gradient(to right, $color-primary-light, $color-primary);
        display: inline-block;
        transition: all .2s;
        border: 1px solid $color-primary;
        font-size: 16px;
    }

    &:hover 
    {
        background: white;
        color: $color-primary;
        box-shadow: 0 3px 8px rgba(black, .3);
        transform: translateY(-2px);
    }

    &:active 
    {
        box-shadow: 0 .5rem 1rem rgba(black, .10);
        transform: translateY(0);
    }

}