.logo 
{
    width: 5rem;
    margin-top: -.7rem;
}

.navbar-brand 
{
    padding: .5rem 0;
}

.navbar 
{
    padding: 2rem 0 1rem 0;
    transition: all .3s linear;
}

.site-nav-wrapper 
{
    padding: 0 8.5rem;
    width: 100%;
}

ul.navbar-nav > li > a 
{
    font-size: 1.3rem;
    text-transform: uppercase;
    color: $color-white;
    font-weight: 400;
    letter-spacing: .1rem;
    transition: all .3s;

    &:hover, &:focus 
    {
        background: none;
        color: $color-primary-1;
    }
}

.dark-nav-top 
{
    background-color: $color-grey;
    box-shadow: 0 1rem 2rem rgba($color-black, .3);

    & ul.navbar-nav > li.active > a 
    {
        color: $color-primary-1;
        transform: translateY(-.3rem);
        text-shadow: 0 .5rem 1rem rgba($color-black, .7);
    }
}

/*-----------------------------------
                Mobile Menu
------------------------------------*/
.navbar-header 
{
    position: relative;
}


#mobile-nav-open-btn 
{
    font-size: 3rem;
    color: $color-primary-1;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    right: 0;

    //Hide Open Button for Large Screen
    display: none;
}

#mobile-nav-close-btn
{
    font-family: 'Raleway', sans-serif;
    font-size: 7rem;
    font-weight: 400;
    cursor: pointer;
    position: absolute;
    top: -.9rem;
    right: 1.3rem;

    transition: all .3s;

    &:hover 
    {
        color: $color-primary-1;
    }
} 


.mobile-nav 
{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background: linear-gradient(to right bottom, $color-grey, $color-grey-1);
    transition: all .3s linear;
    overflow-y: hidden;

    height: 0%;
}

.mobile-nav-content 
{
    text-align: center;
    width: 100%;
    margin-top: 3rem;

    position: relative;
    top: 50%;
    transform: translateY(-50%);

    ul 
    {
        li 
        {
            margin-bottom: 2rem;
            a 
            {
                font-family: 'Raleway', sans-serif;
                font-size: 1.8rem;
                text-transform: uppercase;
                color: $color-white;
        
                display: inline;
                transition: all .3s;
        
                &:hover, &:focus 
                {
                    color: $color-primary-1;
                    background:none;
                }
            }
        }
    }
}

.dark-nav-top .mobile-nav ul.nav > li.active > a 
    {
        color: $color-primary-1;
        font-weight: 900;
    }