.home 
{
    padding-top: 50px;
    position: relative;

    .wrapper 
    {
        padding: 80px 0;
    }

}

.carousel-indicators 
{
    li 
    {
        background-color: $color-primary;
    }
}

.carousel-inner 
{
    height: 70vh;
}

.home_business 
{
    position: relative;
    &--heading 
    {
        background-color: $color-primary;
        padding-left: 80px;
        height: 450px;
        h2 
        {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            font-size: 55px;
        }
    }
    &--content 
    {
        background-color: $color-primary-lighter;
        height: 450px;
        padding: 0 80px;
        .text 
        {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            font-size: 20px;
        }
    }
}

.home_overview 
{
    background-color: $color-gray-light;
    padding: 50px 0;
    text-align: center;
    &-summary 
    {
        h3 
        {
            font-size: 50px;
            font-weight: bolder;
            color: $color-primary;
            text-shadow: 0 2px 4px rgba(black, .3);
        }
        p 
        {
            font-size: 18px;
        }
    }
}

.home__services 
{
    padding: 120px 0;

    &__cards 
    {
        .card 
        {
            &__image
            {
                height: 150px;
                &--1 
                {
                    background: url("../img/home/service-ui.png");
                    background-position: center;
                    background-size: cover;
                    background-repeat: none;
                }
                &--2
                {
                    background: url("../img/home/service-website.png");
                    background-position: center;
                    background-size: cover;
                    background-repeat: none;
                }
                &--3
                {
                    background: url("../img/home/service-web.jpg");
                    background-position: center;
                    background-size: cover;
                    background-repeat: none;
                }
                &--4
                {
                    background: url("../img/home/service-desktop.jpg");
                    background-position: center;
                    background-size: cover;
                    background-repeat: none;
                }
            }

            &__content 
            {
                padding: 25px;
                i 
                {
                    font-size: 25px;
                }
                h6 
                {
                    font-size: 18px;
                    text-transform: uppercase;
                }
                p 
                {
                    margin-top: 15px;
                }
            }
        }
    }

    &__img 
    {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}