.section-about 
{
    padding: 15rem 0 0 0;
}

.section-statement 
{
    padding: 15rem 0;
    position: relative;

    &__overlay 
    {
        position: absolute;
        background-color: rgba($color-black, .8);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

     &--2 
     {
        background-image: url(../img/statement/statement-2.jpg);
     }

    h4 
    { 
        font-size: 2.5rem;
        line-height: 3.3rem;
    }

    i 
    {
        color: $color-primary-1;
    }

    p 
    {
        color: $color-primary-1;
        font-size: $default-font-size;
        margin-top: 2rem;
    }
    
}

.section-education 
{
    padding: 15rem 0;
    position: relative;

    &__overlay 
    {
        position: absolute;
        background-color: rgba($color-black, .8);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url(../img/statement/statement-1.jpg);

}

.section-services
{
    padding: 15rem 0;
}

.section-portfolio 
{
    padding: 15rem 0;
}

.section-contact 
{
    padding: 15rem 0;
    position: relative;

  
    &__bg 
    {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;  

        background-image: url(../img/contact/contact-bg.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }


    &__overlay 
    {
        position: absolute;
        background-color: rgba($color-black, .95);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }

}